---
interface Props {
  text: string;
  id?: string;
}

const { text, id } = Astro.props;
const tooltipId = id || `tt-${Math.random().toString(36).slice(2, 8)}`;
---

<span
  class="tooltip-trigger"
  role="button"
  tabindex="0"
  aria-describedby={tooltipId}
  data-tooltip={text}
  data-tooltip-id={tooltipId}
>?</span>
